*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/******** GENERAL ********/

.supertitle{
    font-size: 35px;
    border-bottom: 2px solid purple;
    width: 90%;
}

.title{
    font-size: 30px;
    border-bottom: 2px solid purple;
    width: 90%;
}

.subtitle{
    font-size: 20px;
    border-bottom: 2px solid greenyellow;
    width: 90%; 
    margin: 2% 0;
}

/***************************/

/******** HEADER ********/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid red;
}
header img{
    width: 8%;
}
/***************************/

section{
    margin: 0 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/******** FIRST BOX ********/

.mainbox{
    grid-area: 1 / 1 / 2 / 2;
    margin: 1% 0;
    background-color: red;
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: 30% 70%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.inputname, .gender, .group{
    margin: 4%;
}
.inputname label{
    width: 40%;
}
#childname{
    margin-top: 4%;
    width: 70%;
    margin-left: auto;
}

.gen, .teens, .tweens{
    margin-top: 4%;
    font-size: 20px;
}
.gen input, .teens input, .tweens input{
    margin: 2% 2%;
}

.students{
    margin: 2%;
}

.btnmainbox{
    width: 50%;
    height: 20%;
}

/***************************/

/******** SECOND BOX ********/

.secondbox{
    grid-area: 2 / 1 / 3 / 2;
    background-color: aqua;
}

/***************************/

/******** THIRD BOX ********/

.thirdbox{
    grid-area: 1 / 2 / 3 / 3;
    background-color: gold;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.thirdbox h2{
    grid-area: 1 / 1 / 2 / 3;
}

.btncopy{
    grid-area: 2 / 1 / 3 / 2;
}
.btnshuffle{
    grid-area: 2 / 2 / 3 / 3;
}
.thirdbox h3{
    grid-area: 3 / 1 / 4 / 3;
}

.thirdbox textarea{
    grid-area: 4 / 1 / 5 / 3;
}


/***************************/