*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 100%;
}

/*general*/
.supertitle{
    font-size: 200%;
}
.title{
    font-size: 150%;
}
.subtitle{
    font-size: 125%;
}

/*******************************/
header{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5%;
}
h1{
    font-size: xx-large;
}
img{
    width: 5%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.left{
    background-color: red;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15%;
}
.right{
    background-color: green;
    width: 50%;
}

.left .inputname{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-bottom: 1%;
    background-color: green;
}
.left .inputname #childname{
    width: 50%;
}
.left .gender{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    width: 100%;
    background-color: purple;
}
.left .gender .gen{
    display: flex;
    flex-direction: row;
    gap: 15%;
    width: 100%;
    background-color: plum;
}
.left .gender .boybox, .left .gender .girlbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15%;
}

.left .group{
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin-bottom: 1%;
    width: 100%;
    background-color: orange;
}
.left .group .students{
    background-color: coral;
    width: 100%;
}
.left .categories{
    display: flex;
    flex-direction: column;
    justify-content:left;
    margin-bottom: 1%;
    width: 100%;
    background-color: blue; 
}
.left .categories .generalCat{
    background-color: rgb(100, 100, 197);
}
.left .categories .generalCat .calification{
    background-color: aquamarine;
}
.left .categories .teensCat{
    background-color: aqua;
}
.left .categories .tweensCat{
    background-color: rgb(21, 146, 175);
}
.left .categories .grades{
    background-color: rgb(94, 94, 138);
}
.right textarea{
    width: 90%;
}
