*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #2a2a2a;
    color: rgb(220, 220, 220);
}

:root{
    --backgroundColor: #2a2a2a ;
    --titleLine: black ;
    --subtitleLine: black ;
    --boxOne: #424242 ; 
    --boxTwo: #424242 ;
    --boxThree: #424242 ;
    --borderBtns: #ED6A5A  ;
    --backgroundSelected: #6b8963;
}
/******** GENERAL ********/

.supertitle{
    font-size: 35px;
    /*border-bottom: 2px solid purple;*/
    width: 90%;
    margin: 1% 0;
}

.title{
    font-size: 30px;
    /*border-bottom: 2px solid purple;*/
    width: 90%;
    margin: 2% 0;
}

.subtitle{
    font-size: 20px;
    /*border-bottom: 2px solid greenyellow;*/
    width: 90%; 
    margin: 2% 0;
}

/***************************/

/******** HEADER ********/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border-bottom: 2px solid red;*/
}
.maintitle{
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
header img{
    width: 8%;
}
/***************************/

section{
    margin: 0 1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5 repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

/******** FIRST BOX ********/

.mainbox{
    grid-area: 1 / 1 / 2 / 2;
    margin: 1%;
    
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: 30% 70%;
    width: 100%;
    justify-content: center;
    align-items: center;

    /* background: rgb(116, 183, 174); */
    background-color:var(--boxOne);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.1px);
    -webkit-backdrop-filter: blur(4.1px);
}
.inputname, .gender, .group{
    margin: 4%;
}

.inputname label{
    width: 40%;
}
#childname{
    margin-top: 4%;
    width: 70%;
    margin-left: auto;
    border: none;
    border-radius: 2px;
    font-size: 120%;
}

.gen, .teens, .tweens{
    margin-top: 4%;
    font-size: 20px;
}
.gen input, .teens input, .tweens input{
    margin: 2% 2%;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
.btns img{
    width: 15%;
}

.students{
    margin: 2%;
}

.btnSave:hover, .btnClear:hover{
    border-bottom:2px solid var(--borderBtns)
}


/***************************/

/******** SECOND BOX ********/

.secondbox{
    grid-area: 2 / 1 / 3 / 2;
    margin: 1%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.2fr repeat(2, 0.4fr);
    width: 98%;
    padding-left: 2%;

    /*background: rgba(208, 143, 239, 0.86);*/
    background-color: var(--boxTwo);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}

.generalCat{
    display: grid;
    grid-template-columns: 1fr 0,2fr;
    grid-template-rows: 0.2fr repeat(2, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.cat{
    grid-area: 1/1/2/2;
}
.calification{
    grid-area: 2/1/3/2;
}

.btngenerate{
    grid-area: 1/2/3/3;
}


.specificCat{
    display: grid;
    grid-template-columns: 1fr 0,2fr;
    grid-template-rows: 0.2fr repeat(3, 0.5fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.teensCat{
    grid-area: 1/1/2/2;
}
.tweenCat{
    grid-area: 2/1/3/2;
}
.grades{
    grid-area: 3/1/4/2;
}
.btngentext2, .btngenerate{
    grid-area: 1/2/4/3;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btngentext2 input, .btngenerate input{
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 20%;
    background-color: rgb(223, 231, 233);
    box-shadow: 0 0 26px rgba(0,0,0, 0.5);
}

.btngentext2 input:hover, .btngenerate input:hover{
    border-bottom:2px solid var(--borderBtns)
}

.generalCat, .specificCat{
    margin: 1% 4% ;
}
.cat input, .calification input, .teensCat input, .tweensCat input, .grades input{
    margin: 2% 2%;
}

/***************************/

/******** THIRD BOX ********/

.thirdbox{
    grid-area: 1 / 2 / 3 / 3;
    margin: 1%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 5% 5% 5% 80%;    
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    align-items: center;

    /* background: rgb(241, 231, 155); */
    background-color: var(--boxThree);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);
}

.thirdbox h2{
    grid-area: 1 / 1 / 2 / 3;
}

.btncopy{
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    margin-right: 2%;
}
.btncopy img{
    width: 10%;
}

.btnshuffle{
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin-left: 2%;
}
.btnshuffle img{
    width: 10%;
}
.btnshuffle img:hover, .btncopy img:hover{
    border-bottom:2px solid var(--borderBtns)
}

.thirdbox h3{
    grid-area: 3 / 1 / 4 / 3;
}

.thirdbox textarea{
    grid-area: 4 / 1 / 5 / 3;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 26px rgba(0,0,0, 0.5);
}

/***************************/

/******** FOOTER BOX ********/
footer{
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: white;
}
footer img{
    width: 20px;
}

/***************************/